.site-foot {
  padding: get-size('500') 0 get-size('700') 0;
  text-align: center;
}

.site-foot > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  align-items: center;

  @include media-query('md') {
    flex-direction: row;
  }

}

